abstractFactory/abstractFactory
adapter/adapter
bridge/bridge
builder/builder
chainOfResponsibility/chainOfResponsibility
command/command
composite/composite
decorator/decorator
facade/facade
factory/factory
flyweight/flyweight
iterator/iterator
mediator/mediator
memento/memento
observer/observer
prototype/prototype
proxy/proxy
singleton/default/default
singleton/syncOnce/syncOnce
state/state
strategy/strategy
template/template
visitor/visitor